/* set all elements to use box-sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Define overall style variables */

:root {
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Helvetica', monospace;
    --fw-reg: 400;
    --fw-bold: 700;
    --clr-light: #F2E4E5;
    --clr-ltpink: #e9c1c5;
    --clr-dkpink: #d598b9;
    --clr-violet: #9152a4;
    --clr-dkaccent: #2e284f;
    --clr-dark: #001539;
    --fs-h1: 1.5em;
    --fs-h2: 1.2em;
    --fs-h3: 1.1em;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 3em;
        --fs-h2: 2.2em;
        --fs-h3: 1.5rem;
        --fs-body: 1.125em;
    }
}

/* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.2em;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
    font-weight: 700;
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

/* Nav */

.navbar {
    background: var(--clr-violet);
}

#pb-brand {
    background-color: var(--clr-violet);
    margin: auto;
    text-align: center;
}

.rounded-circle {
    border: 3px solid white;
}

#pb-brand h1 {
    text-transform: uppercase;
    color: var(--clr-light);
    padding: .75em;
    letter-spacing: 0.05em;
    text-shadow: 2px 2px #2e284f;
}

/* Form */

/* Main */

/* Footer */
footer {
    width: 100%;
    position: fixed;
    background-color: var(--clr-violet);
    margin: auto;
    bottom: 0;
}

footer p {
    font-size: .5em;
    text-align: center;
    margin: .5em;
}
