<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PodcastBuzz</title>
    <!-- Import CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
    <!-- wrap content -->
    <div id="wrapper">
        <!-- header -->
        <header>
            <nav>
                <!-- navbar goes here -->
                <div class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar">Search</span>
                            </button>
                            <a class="navbar-brand" href="/">PodcastBuzz</a>
                        </div>
                        <!-- collapse nav goes here -->
                    </div>
                </div>
            </nav>
        </header>
        <!-- end header -->
        <!-- main -->
        <main>

        </main>
        <!-- end main -->
        <!-- footer -->
        <footer>

        </footer>
        <!-- end footer -->
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>