{% extends 'base.html' %}

{% block content%}
<h2>Register below</h2>
<form method="POST" action="" novalidate>
    {{ forms.hidden_tag() }}
    <p>
        {{ forms.username.label }}<br>
        {{ forms.username }}
    </p>
    <p>
        {{ forms.email.label }}<br>
        {{ forms.email }}
    </p>
    <p>
        {{ forms.password.label }}<br>
        {{ forms.password }}
    </p>
    <p>
        {{ forms.confirm.label }}<br>
        {{ forms.confirm }}
    </p>
    <p>
        {{ forms.submit }}
    </p>
</form>
{% endblock %}